.news-date {
	font-size:0.9em;
	color: #666;
}

.step-links a, .current-page, .news-back a{
	padding:2px 4px;
	background-color: #eee;
	height: 30px;
	border: #E1DDCE solid 1px;
	margin-right: 1px;
	text-decoration: none;
	color: #006FAC;
	font-size: 0.7em;
}

.step-links a:hover, .news-back a:hover {
	background-color: #006FAC;
	color: #fff;
	border-color: #006FCC;
}

.paginator-left a {
	margin-right: 10px;
}

.paginator-right a {
	margin-left: 10px;
}

.current-page {
	background-color: #c6c6c6;
	color: #fff;
}